* {
  box-sizing: border-box;
}


body {
  margin: 2%;
  padding: 2%;
  font-family: tahoma;
}

h1 {
  text-align: center;
  font-size: 1.75em;
}



.boxHeadingText {
  height: 1.5em;
  width: 30%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  float: right;

  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

.boxBodyText {
  padding: 1%;
  text-align: left;
  clear: right;
}

#bg1 { 
  background-color: #33ccff;
}

#bg1Heading {
  background-color: #cc9966;
}

#bg2 {
  background-color: #33ffcc;
}

#bg2Heading {
  background-color: #3399cc;
}

#bg3 {
  background-color: #cc6666;
}

#bg3Heading {
  background-color: #660099;
}


@media (min-width: 992px) {
  .boxSizing {
    height: 150px;
    width: 31.33%;
    margin: 1%;
    border: 1px solid black;
    float: left;
    overflow: hidden;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .boxSizing {
      height: 150px;
      width: 48%;
      margin: 1%;
      border: 1px solid black;
      float: left;
      overflow: hidden;
  }
  #bg3 {
  width: 98%; 
  }
}

@media (max-width: 767px) {
  .boxSizing {
    height: 150px;
    width: 98%;
    margin: 1%;
    border: 1px solid black;
    float: left;
    overflow: hidden;
  } 
}